@model WebApplication2.ViewModels.MesajViewModel


@if (Model.Status)
{
    <div class="alert alert-success" role="alert">
        @Model.Mesaj <a href="@Model.Url">@Model.LinkText</a>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        @Model.Mesaj <a href="@Model.Url">@Model.LinkText</a>
    </div>
}
